.divRes{
    margin: 0, auto;
    background-color:#000;
    font-size:60px;
    font-family: 'VT323', monospace;
    text-align: center;
    color: #00cd00;
    margin-top:12%;
    width: 100%;

    

}
form{
    margin: 0, auto;
    background-color:#000;
    font-size:60px;
    font-family: 'VT323', monospace;
    text-align: center;
    color: #00cd00;
    margin-top:12%;
    width: 100%;
    border:4px solid #00cd00;
    border-radius: 52px 52px 52px 52px;
    -moz-border-radius: 52px 52px 52px 52px;
    -webkit-border-radius: 52px 52px 52px 52px;
    border: 4px solid #00cd00;

}
form:hover{
    -webkit-box-shadow: 1px -1px 40px 0px rgba(78,224,20,0.77);
-moz-box-shadow: 1px -1px 40px 0px rgba(78,224,20,0.77);
box-shadow: 1px -1px 40px 0px rgba(78,224,20,0.77);
}


h1{
    text-align: center;
  
}
html{
    height:100%;
    width:100%;
}
h1{
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 80px;
}




a{  
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #00cd00;
    padding: 0px 5px 0px 5px;
    color: #00cd00;
    margin: auto;
    font-family: 'VT323', monospace;
}
a:hover{
    color: #0a0909;
    background-color:#00cd00; 

}
a:active{
    color:#FA1414;
    background-color:#00cd00; 
}
a:visited,a:hover, a:active{
    background-color:#000000;
    color: #00cd00;
    font-family: 'VT323', monospace;
}


td{
    padding: 0 40px 0 40px;
  }
body{
    margin-top:0px;
    background-color:#0a0909;
    margin:0;
    
    color: #00cd00;
    background-image: url(../images/modern-razer.jpg);
    background-repeat:repeat;
}


label{
    font-family: 'VT323', monospace;
}
fieldset{
    font-family: 'VT323', monospace;
    border-color: #00cd00;
}
input{
    border-color: #00cd00;	
}
input[type=text]{ 
    background-color:#000;
    color:#00cd00;
    font-family:'VT323', monospace;
    font-size:32px;

}
input[type=radio]{
    background-color:#000;
    color:#00cd00;
    font-family:'VT323', monospace;
    font-size:18px;
    display:inline;

}
input[type=submit]{
    background-color:#000;
    color:#00cd00;
    font-family:'VT323', monospace;
    font-size:32px;
    margin-bottom:15px;

}
input[type=submit]:hover{
    color: #0a0909;
    background-color:#00cd00;
}
select{
     color:#00cd00;
     background-color:#000;
     font-family:'VT323', monospace;
     font-size:32px;
}


header div{
    margin-bottom: -26px;
}



#about {
    font-size: 32px;
}
form{
    width:40%;
    margin: auto;
    }
#media{
    width: 700px;
    margin: auto;
}

.buttons, .submit {
     color:#00cd00;
     background-color:transparent;
     font-family: 'VT323', monospace;
     font-size: 30px;
}
.submit{
    font-size: 30px;
}
.submit:hover, .buttons:hover{
    color:#000;
    background: #00cd00;
    font-size: 30px;
}
.mediaBoxItem{
    display: inline-block;
}
.mediaBoxItem audio{
    height: 240px;
    padding-left:20px;       
}
.mediaBoxItem video{
    padding-right:20px;
}
footer{
    height: 65px;
    margin-bottom: -80px;
    float: left;
    margin-top: 0;
}
footer p {
    margin: auto;
    padding-top: 20px;
    font-family: 'heavy_data';
    color:#000;
}

